@{
    ViewBag.Title = "Contact";
}
<div id="titlebanner">
    <div id="titlewrap">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<p>Please do hesitate to call us, as you will not be able to reach anyone that knows about us. Thank you.</p>
<address>
    Barrie St 111<br />
    Georgian College, 4352-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@tethernerworking.ca">info@tethernerworking.ca</a><br />
</address>
