<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tetherfinal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tetherfinal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tetherFinal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tetherFinal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=u51srtibqx.database.windows.net;Initial Catalog=tetherFinal689;Persist Security Info=True;User ID=jearle;Password=Password01;Application Name=EntityFramework" Name="Data Source=u51srtibqx.database.windows.net;Initial Catalog=tetherFinal689;Persist Security Info=True;User ID=jearle;Password=Password01;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="tetherFinal.Models.ApplicationDbContext, tetherFinal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="tetherFinalEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=u51srtibqx.database.windows.net;Initial Catalog=tetherFinal689;Persist Security Info=True;User ID=jearle;Password=Password01;Application Name=EntityFramework" Name="Data Source=u51srtibqx.database.windows.net;Initial Catalog=tetherFinal689;Persist Security Info=True;User ID=jearle;Password=Password01;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="tetherFinal.Models.tetherFinalEntities, tetherFinal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="tetherEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:u51srtibqx.database.windows.net,1433;Initial Catalog=tetherFinal689;User ID=jearle@u51srtibqx;Password=Password01" Name="Data Source=tcp:u51srtibqx.database.windows.net,1433;Initial Catalog=tetherFinal689;User Id=jearle@u51srtibqx;Password=Password01;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=u51srtibqx.database.windows.net;Initial Catalog=tetherFinal689;Persist Security Info=True;User ID=jearle;Password=Password01;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\tetherEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.storeModel.csdl|res://*/Models.storeModel.ssdl|res://*/Models.storeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=u51srtibqx.database.windows.net;initial catalog=tetherFinal689;persist security info=True;user id=jearle;password=Password01;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=u51srtibqx.database.windows.net;Initial Catalog=tetherFinal689;Persist Security Info=True;User ID=jearle;Password=Password01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tetherEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.storeModel.csdl|res://*/Models.storeModel.ssdl|res://*/Models.storeModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:u51srtibqx.database.windows.net,1433;initial catalog=tetherFinal689;user id=jearle@u51srtibqx;password=Password01;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tetherFinalEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.storeModel.csdl|res://*/Models.storeModel.ssdl|res://*/Models.storeModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=u51srtibqx.database.windows.net;Initial Catalog=tetherFinal689;Persist Security Info=True;User ID=jearle;Password=Password01;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>